@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container2 {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container3 {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  font-family: open sans;
  padding-top: 30px;
  background-color: #BB2339;
  width: 100%;
  min-height: 15vh;
  font-family: "Roboto Condensed";
  position: fixed;
  z-index: 9999999;
  transition: 0.1s linear;
}
@media (max-width: 800px) {
  .header .header__nav-right {
    display: none;
  }
  .header .header__nav-right img {
    display: block;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__nav-right {
  font-family: open sans;
}
.header__nav-right a {
  color: #FFFFFF;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s;
}
.header__nav-right a:last-child {
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  font-weight: 600;
  padding: 12px 45px;
  transition: 0.5s;
}
.header__nav-right a:last-child:hover {
  background-color: #FFFFFF;
  color: #BB2339;
}
.header__nav-right img {
  display: none;
}

.main__contact {
  font-family: cera round pro;
  padding-top: 180px;
}
@media (max-width: 1200px) {
  .main__contact {
    text-align: center;
  }
  .main__contact .main__contact-wrapper {
    flex-direction: column;
  }
  .main__contact .main__contact-wrapper .main__contact-wrapper-left {
    flex-direction: row;
    margin-bottom: 50px;
  }
  .main__contact .main__contact-wrapper .main__contact-wrapper-right form input {
    text-align: center;
    width: 200px;
    height: 50px;
  }
}
.main__contact-h1 {
  font-size: 64px;
  color: #242424;
  font-weight: 500;
  text-align: center;
}
.main__contact-svg {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.main__contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main__contact-wrapper-left-boxes {
  width: 100%;
}
.main__contact-wrapper-left-boxes-box {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 50px;
  border: 2px solid #AAAAAA;
  border-radius: 15px;
  margin-top: 15px;
  transition: 0.5s;
}
.main__contact-wrapper-left-boxes-box:hover {
  background-color: #BB2339;
  color: #FFFFFF;
  border: 2px solid #BB2339;
}
.main__contact-wrapper-left-boxes-box svg {
  margin-right: 20px;
}
.main__contact-wrapper-right {
  border: 2px solid #AAAAAA;
  border-radius: 15px;
  flex-wrap: wrap;
  flex-direction: row;
}
.main__contact-wrapper-right-h1 {
  font-weight: 600;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 38px;
  color: #242424;
}
.main__contact-wrapper-right-p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  color: #242424;
}
.main__contact-wrapper-right form {
  margin-left: 40px;
  margin-right: 40px;
  flex-grow: 1;
  flex-wrap: wrap;
}
.main__contact-wrapper-right form .name,
.main__contact-wrapper-right form .phone,
.main__contact-wrapper-right form .email,
.main__contact-wrapper-right form .sub,
.main__contact-wrapper-right form .mess {
  padding: 20px;
  border: 2px solid #AAAAAA;
  margin-bottom: 15px;
  color: blue;
  border-radius: 15px;
}
.main__contact-wrapper-right form .name,
.main__contact-wrapper-right form .phone {
  margin-right: 20px;
}
.main__contact-wrapper-right form .name,
.main__contact-wrapper-right form .phone,
.main__contact-wrapper-right form .email,
.main__contact-wrapper-right form .sub {
  height: 70px;
  width: 400px;
}
.main__contact-wrapper-right form .mess {
  height: 100px;
  width: 825px;
}
.main__contact-wrapper-right form .btn {
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 70px;
  border: 2px solid #BB2339;
  border-radius: 20px;
  color: #242424;
  transition: 0.5s;
  background-color: #FFFFFF;
}
.main__contact-wrapper-right form .btn:hover {
  background-color: #BB2339;
  color: #FFFFFF;
}

.main__find-us {
  font-family: cera round pro;
  padding-top: 100px;
}
.main__find-us-h2 {
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  padding-bottom: 40px;
}
.main__find-us iframe {
  width: 100%;
  margin-bottom: 100px;
}