@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.cdnfonts.com/css/cera-round-pro");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.container {
  max-width: 1340px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container2 {
  max-width: 760px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container3 {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  font-family: open sans;
  padding-top: 30px;
  background-color: #BB2339;
  width: 100%;
  min-height: 15vh;
  font-family: "Roboto Condensed";
  position: fixed;
  z-index: 9999999;
  transition: 0.1s linear;
}
@media (max-width: 800px) {
  .header .header__nav-right {
    display: none;
  }
  .header .header__nav-right img {
    display: block;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__nav-right {
  font-family: open sans;
}
.header__nav-right a {
  color: #FFFFFF;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s;
}
.header__nav-right a:last-child {
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  font-weight: 600;
  padding: 12px 45px;
  transition: 0.5s;
}
.header__nav-right a:last-child:hover {
  background-color: #FFFFFF;
  color: #BB2339;
}
.header__nav-right img {
  display: none;
}

.main__about-us {
  min-height: 150vh;
  padding-top: 180px;
  padding-bottom: 70px;
}
@media (max-width: 750px) {
  .main__about-us {
    text-align: center;
  }
  .main__about-us-img {
    width: 100%;
  }
  .main__about-us .out {
    display: none;
  }
}
.main__about-us-h1 {
  text-align: center;
  font-family: cera round pro;
  font-size: 64px;
  font-weight: 500;
  padding-bottom: 20px;
}
.main__about-us svg {
  width: 100%;
  margin-bottom: 30px;
}
.main__about-us-p {
  font-weight: 400;
  text-align: center;
  font-family: open sans;
  font-size: 20px;
  color: #242424;
  margin-bottom: 30px;
}
.main__about-us-p2 {
  font-weight: 400;
  text-align: center;
  font-family: open sans;
  font-size: 20px;
  color: #242424;
  margin-top: 30px;
}
.main__about-us .out {
  margin-bottom: 70px;
  margin-left: 700px;
  margin-top: 50px;
}